.navbar {
    padding: 50.5px;
    height: 10px;
}

body {
    background-image: url();
}

.footer {
    padding: 23.5px;
    border: 10px;
    background-color: whitesmoke;
}

.carouselbox {
    background-color: whitesmoke;
}