.navbar {
    padding: 60.5px;
    height: 10px;
}

body {
    background-image: url();
}

.footer {
    padding: 23.5px;
    border: 10px;
    background-color: whitesmoke;
    height: 0%;
}

.carouselbox {
    background-color: whitesmoke;
    width: 100%;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.navbox {
    font-family: 'Times New Roman', Times, serif;
}

.navbar-brand {
    font-size: 10px;
    font-style: italic;
    font: 60 70px/0.8 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px #fff;
}

.nav-link {
    font: 40 30px/1.2 'Merienda One', Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.7);
    text-shadow: 3px 3px 3px #fff;
}

.dropdown-item {
    font: 20 20px/1.2 'Merienda One', Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.7);
    text-shadow: 3px 3px 3px #fff;
}

button {
    font: 20 40px/1.2 'Merienda One', Helvetica, sans-serif;
}